<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zemulla.android.app">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.ZemullaApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".base.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".user.SignupActivity" />
        <activity android:name=".user.UserProfileActivity" />
        <activity android:name=".transaction.TransactionHistoryActivity" />
        <activity android:name=".topup.TopupActivity" />
        <activity android:name=".topup.TopupInitialTransactionActivity" />
        <activity android:name=".topup.paypal.PaypalActivity" />
        <activity android:name=".topup.mtn.MtnActivity" />
        <activity android:name=".topup.airtel.AirtelMoneyActivity" />
        <activity android:name=".topup.zoona.ZoonaActivity" />
        <activity
            android:name=".topup.bank.BankActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".topup.bank.SupportedBankListActivity" />
        <activity android:name=".topup.cyber.CyberSourceActivity" />
        <activity android:name=".user.ForgotPasswordActivity" />
        <activity android:name=".emarket.MarketActivity" />
        <activity android:name=".emarket.airtime.AirTimeActivity" />
        <activity android:name=".emarket.electricity.ElectricityActivity" />
        <activity android:name=".emarket.electricity.ConfirmationActivity" />
        <activity android:name=".emarket.direct_recharge.DirectRechargeActivity"></activity>
    </application>

</manifest>